/*  your css code here. If applicable */
body
{
	background-color: #f8f8f8;
}
.header
{
	background-color: #ffffff;
	font-weight: bold;
	border: 1px solid #ffffff;
}
.book
{
	background-color:#ffffff;
	padding: 5px;
	text-align: center;
	border: 1px solid #ffffff ;
}
.title
{
	font-size: 18px;
	font-weight: 900;
}
.title,.author
{
	text-align: left;
}
.price
{
	border: 1px solid #2ecc71;
	background-color: #2ecc71;
	color: white;
	padding: 5px;
}